div.header {
    background-color:#F0F0F0;
    width:100%;
    height:40px;
    margin:20px 0 80px 0;
    border-top:solid 2px #EEEEEE;
    border-bottom:solid 2px #EEEEEE;
}

div.header .container-fluid,
div.content .container-fluid,
div.footer .container-fluid {
    padding: 0 5%;
}

div.header .logo {
    float:left;
    width:168px;
    height:36px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
}

div.header .logo:hover {
    background-image: url('../img/logo_hover.png');
    float: left;
    cursor: pointer; 
}

div.header .span10 {
    line-height: 40px;
    text-align: right;
}

div.header .span10 li {
    display:inline-block;
    list-style-type: none;
}

div.content .menu {
    border:1px solid #E4E4E4;
    background-color: #F5F5F5;
    padding: 0;
    opacity:0.85;
}

div.content .menu:hover {
    opacity: 1;
}

div.content .menu h2 {
	background-color: rgba(0, 139, 165, 0.16);
	border-bottom:1px solid #E4E4E4;
	color:#494949;
	font-size:18px;
    font-weight: normal;
    margin: 0 0 5px 0;
	padding:0;
	width:100%;
}

div.content .menu h2 span {
    margin-left:20px;
    font-weight: bold;
}

div.content .menu ul {
    margin-left: 0;
}

div.content .menu ul li {
    list-style-type: none;
	padding: 4px 25px;
}

div.content .menu ul li:hover{
	background-color: #DCEAF5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.content .menu ul li.puce {
    margin-left:27px;
}

div.content .menu ul li a {
    color:#494949;
}

div.content h1 {
    border-bottom:2px solid #D7D7D7; 
    padding-bottom:5px;
    margin-bottom: 25px;
}

div.content select[disabled="disabled"] {
    display: none;
    visibility: hidden;
}