


input {
border: 1px solid #CCC;
display: inline-block;
font-size: 15px;
padding: 4px 8px;
outline: 0;
-webkit-appearance: none;
max-width:120px;
}
.INPUT_text {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 1px 1px 3px #666;
-webkit-box-shadow: 1px 1px 3px #666;
box-shadow: 1px 1px 1px #666;
}

.INPUT_submit {
	margin-top:12px;
	background-color: #255CBE;
	color:white;
	font-size: 15px;
	padding: 4px 10px;
}

#menuGauche {
	
	width:182px;
	
	
}
.menu {
	
	width:180px;
	height:auto;
	border:1px solid #E4E4E4;
	margin-bottom:40px;
	background-color: #F5F5F5;
	opacity:0.85;
	overflow: hidden;
}
.menu:hover {
	opacity:1;
}

.moduleTitre {
	
	position:relative;
	top:0;
	height:27px;
	width:100%;
	background-color: #EBEBEB;
	border-bottom:1px solid #E4E4E4;
	color:#494949;
	font-size:18px;
	padding-top:5px;
}
.moduleTitre span {
	
	margin-left:20px;
	font-weight: bold;
	
	
}

.moduleCorps {
	padding:15px 10px 15px 0px;
	margin-left:20px;
	color:#494949;
}

.moduleCorps li{
	margin-bottom:-2px;
	padding:4px 5px;
}

.moduleCorps li:hover{
	background-color: #DCEAF5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
	
.moduleCorps_titreListeAPuce {
	list-style-type: none;
}	
	
.moduleCorps_listeAPuce {
	margin-left:27px;
	list-style-type: square;
	font-size: 10px;
}


.moduleCorps_FAVORIS_listeAPuce {
	list-style-image:url("../images/photoProfilDefaut.png");
	margin-left: 15px;
}

#menu_favroris_eleve .moduleTitre{
	background-color: #FFFFD5;
	color:#494949;
}

#menuFavorisEleveVoirTous {
	text-align: center;
	margin-top:20px;
	display: block;
	font-weight:bold;
}
#menu_recherche .moduleTitre{
	background-color: #FFECD9;
	color:#494949;
}


/******************************* PAGE DE CONNEXION ************************************/

.login-box {
    border: 2px solid #eee;
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
    width: 30%;
    min-width: 450px;
    max-width: 550px;
}

.login-box tr:first-child { width: 30%; }
.login-box tr:last-child { width: 70%; }

.login-box h2 {
    font-size: x-large;
}

.login-box label,
.login-box input { margin: 15px auto; }

.login-box tr,
.login-box td {
    background-color: transparent;
    border: 0;
    border-spacing: 0px;
    border-collapse: collapse;
}

.login-box .errors {
    color: red;
    list-style-position: inside;
}