table {
	border:solid 1px #BDBDBD;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 0;
}

.tableauTailleMax {
	width:100%;
}

.tableauTailleMini {
	width:70%;
	float:left;
}

table input {
max-width: 100%;
}

/* Petit formulaire à droite du tableau pour ajouter une note */

#ajouterUneNoteACoteDuTableau {
	rgba(255, 255, 213, 0.84);
	margin-left:10px;
	float:right;
	width:150px;
	border:1px solid #CDCDCD;
	padding:10px 15px 10px 10px;
	font-size: 15px;
	text-align: center;
}

#ajouterUneNoteACoteDuTableau span{
	width:100%;
	font-size:16px;
	font-weight:bold;
	margin-bottom: 30px;
	color:#6E6E6E;
	clear: both;
	
}
#ajouterUneNoteACoteDuTableau table{
	width:100%;
	margin:0;
	padding:0;
}
#ajouterUneNoteACoteDuTableau table tr{
	
	font-size:15px;

}
#ajouterUneNoteACoteDuTableau table tr td{
	
	margin:0;
	padding:0;
}
#ajouterUneNoteACoteDuTableau form label{
	font-size:15px;
	margin:px;
}

table tr {
	
}

table tr td {
	border-bottom:1px solid #BDBDBD;
	padding:3px 10px;
	text-align: center;
		font-size: 15px;
	
}

table .entete {
	background-color: #56A8E7;
	height:30px;
	
	font-size:18px;
	color:white;
}

.clickable:ACTIVE {
	background-color: #8DC6EF;
}
.clickable:hover {
	cursor: pointer;
}
.hoverable:hover {
	background-color: #EBEBEB;
}

.UE {
	font-weight:bold;
	text-align: left;
}

.MODULE {
	text-indent:20px;
	text-align: left;
	font-size: 17px;
}

.MATIERE {
	text-indent:50px;
	font-style: italic;
	font-size: 15px;
	text-align: left;
}

.good {
color:green;	
}

.medium {
	color:orange;
}

.bad {
	color:red;
}

.no-border {
	border:none;
}
.no-border tr {
	border:none;
}
.no-border td {
	border:none;
}

.formulaire {
	
	border:none;
	text-align:left;
}
.formulaire td{
	background-color:none;
	border:none;
	text-align:left;
}


.formulaire select {
background: url(../images/bottom-arrow.png) no-repeat 96% center;
box-shadow: 0px 1px 1px #C7C7C7;
}
